body {
    display: block;
    font-family: 'Nunito';
    letter-spacing: 0.0625em;
    max-width: 100vw;
  }

  .header {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      color: white;
      background-color: #69b6cb;
      opacity: .6;
  }
  
  p {
    text-align: start;
    padding: 0 0 1vh 2vw;
    margin: 0 auto;
  }
  
  img {
    min-height: 300px;
    width: 648px;
    border-radius: 10px;
  }

  .box {
    border-radius: 10px;
  }

  .row {
    --bs-gutter-x: 0;
  }
  
  #stats {
    color: white;
  }
  
  .projects-section {
    padding: 1rem 0;
    font-size: 90%;
  }
  
  .projects-section .featured-text {
    padding: 1rem;
    font-size: 90%;
  }
  .projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
  }
  
  @media (min-width: 992px) {
    .projects-section .featured-text {
      padding: 0 0 0 2rem;
      font-size: 110%;
      border-left: 0.5rem solid #64a19d;
    }
  
    .projects-section .project-text {
      padding: 3rem;
      font-size: 110%;
    }
  }
  
  a {
    color: #64a19d;
  }
  
  a:focus, a:hover {
    text-decoration: none;
    color: #3c6360;
  }
  
  .bg-black {
    background-color: #161616 !important;
  }
  
  .bg-primary {
    background-color: #64a19d !important;
  }
  
  .text-primary {
    color: #64a19d !important;
  }
  
